h3  {
    font-family: $me-family-segundary;
    font-size: $me-large;
    font-weight: $me-font-bold;
    margin-block-end: 0;
}

p {
    text-align: justify;
    font-size: $me-medium;
    font-family: $me-family-segundary;
    
}

h4{
    font-weight: $me-font-bold;
    font-family: $me-family-primary;
    font-size: $me-large;
    margin-block-end:0;
}