// colors
$me-white: #ffffff;
$me-black: #000000;
$me-sable:#060606;
$me-charcoal:#2e1503;
$me-tangerine:#ffaf6d;
$me-orange:#ffa500;
$me-grey:#808080;
$me-barra:#505050;
$me-lila:#632894;

// fontsize
$me-xxxxx-large:50px;
$me-xxxx-large:45px;
$me-xxx-large:40px;
$me-xx-large:35px;
$me-x-large:30px;
$me-large:20px;
$me-medium:16px;
$me-small:14px;
$me-x-small:12px;

// font-weidtih
$me-font-regular: 400;
$me-font-bold:700;

// font family
$me-family-primary: 'Ubuntu', sans-serif;
$me-family-segundary: 'Poppins', sans-serif;


// Breakpoint
$break_phone:576px;
$break_tablet:768px;
$break_desktop:992px;
$break_large:1200px;