.header{
    max-width: 100%;
    &__logo{
        margin: 0 auto;
        @media (max-width:575.98px){
            width: 100%;
            margin: 0 auto;
        }
        
        @include point_tablet{
            width: 80%;
            margin: 0 auto;
        }

    }
    &__img{
        background-image: url('../img/desarrolloweb2021t.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;

        @media (max-width: 575.98px) {
            height: 28vh;
        }
        @media (min-width: 576px) and (max-width: 768px) {
            height: 30vh;
        }
    }
}